asgiref==3.6.0
Django==4.2.1
django-crispy-forms==2.0
flatbuffers==23.3.3
gunicorn==20.1.0
joblib==1.2.0
libclang==16.0.0
numpy==1.23.5
oauthlib==3.2.2
packaging==23.1
pandas==2.0.1
protobuf==4.22.4
pyasn1==0.5.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
sqlparse==0.4.4
tensorboard-data-server==0.7.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
threadpoolctl==3.1.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==2.0.2
wrapt==1.14.1
