/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
    color: #34cc67;
    
  }
  
  /* Estilos da barra lateral */
  aside {
    background-color: #ccc;
    padding: 10px;
  }
  
  aside h2 {
    margin-top: 0;
  }
  
  /* Estilos da seção */
  section {
    padding: 10px;
  }
  
  section header {
    margin-bottom: 10px;
  }
  
  section article {
    margin-bottom: 10px;
  }
  
  /* Estilos do rodapé do artigo */
  footer {
    font-size: 14px;
    text-align: center;
  }
  
  /* Estilos do rodapé da página */
  footer.page {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Estilos responsivos */
  @media only screen and (max-width: 768px) {
    /* Estilos do cabeçalho */
    header {
      padding: 5px;
    }
  
    /* Estilos da barra lateral */
    aside {
      display: none;
    }
  
    /* Estilos da seção */
    section {
      padding: 5px;
    }
  
    /* Estilos do rodapé da página */
    footer.page {
      padding: 5px;
    }
  }

 



   /* Estilos gerais */
   * {
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  /* Estilos do formulário */
  form {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #34cc67;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  input[type=text], input[type=number], input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  /* Estilos responsivos */
  @media (max-width: 600px) {
    input[type=text], input[type=number], input[type=email], input[type=submit] {
      width: 100%;
    }
  }