{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <h1>FORM.HTML</h1>
        
        <form method="post">
            {% csrf_token %}
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">
            <br>
            <label for="lastname">Sobrenome:</label>
            <input type="text" name="lastname" id="lastname">
            <br>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="age">Idade:</label>
            <input type="number" name="age" id="age">
            <br>
            <label for="gender">Gênero:</label>
            <select name="gender" id="gender">
              <option value="male">Masculino</option>
              <option value="female">Feminino</option>
              <option value="other">Outro</option>
            </select>
            <br>
            <label for="height">Altura:</label>
            <input type="number" name="height" id="height">
            <br>
            <label for="weight">Peso:</label>
            <input type="number" name="weight" id="weight">
            <br>
            <label for="systolic_pressure">Pressão Sistólica:</label>
            <input type="number" name="systolic_pressure" id="systolic_pressure">
            <br>
            <label for="diastolic_pressure">Pressão Diastólica:</label>
            <input type="number" name="diastolic_pressure" id="diastolic_pressure">
            <br>
            <label for="cholesterol">Colesterol:</label>
            <select name="cholesterol" id="cholesterol">
              <option value="1">Normal</option>
              <option value="2">Acima do normal</option>
              <option value="3">Muito acima do normal</option>
            </select>
            <br>
            <label for="glucose">Glicose:</label>
            <select name="glucose" id="glucose">
              <option value="1">Normal</option>
              <option value="2">Acima do normal</option>
              <option value="3">Muito acima do normal</option>
            </select>
            <br>
            <label for="smoker">Fumante:</label>
            <select name="smoker" id="smoker">
              <option value="0">Não</option>
              <option value="1">Sim</option>
            </select>
            <br>
            <label for="alcohol_intake">Ingestão de álcool:</label>
            <select name="alcohol_intake" id="alcohol_intake">
              <option value="0">Não</option>
              <option value="1">Sim</option>
            </select>
            <br>
            <label for="physical_activity">Atividade física:</label>
            <select name="physical_activity" id="physical_activity">
              <option value="0">Não</option>
              <option value="1">Sim</option>
            </select>
            <br>
            <input type="submit" value="Enviar">
          </form>
          
          
          
          
    </div>
{% endblock %}