{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Health Prediction</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <header>
    <h1>Cabeçalho da página</h1>
  </header>

  <aside>
    <h2>Conteúdos relacionados</h2>
    <ul>
      <li>Conteúdo 1</li>
      <li>Conteúdo 2</li>
      <li>Conteúdo 3</li>
    </ul>
  </aside>

  <section>
    <header>
      <h2>Cabeçalho da seção</h2>
    </header>

    <article>
      <p>Conteúdo do artigo.</p>
    </article>

    <footer>
      <p>Rodapé do artigo.</p>
    </footer>
  </section>

  <footer>
    <p>Rodapé da página.</p>
  </footer>
</body>

</html>